// SPDX-License-Identifier: MIT
pragma solidity >=0.4.24;

contract ServiceRegistry {
  event next(bytes from, bytes to, bytes activity);

  string public version;
  //variable definition
{{ range $.Procs2}}  
{{- if .IsCatchEvent}}
{{- else}}
  bool isActive{{.FunctionName}} = false;
{{- end }}
{{ end }}

  constructor(string memory _version) public {  
    version = _version;
{{- range $.Init }}
    isActive{{ . }} = true;    //协作起点置为true
{{- end }}
  }

{{ range $.Procs2}}
  {{ if .IsCatchEvent }}
  {{ else }}
  function {{.FunctionName}}() external {
    {{- if .IsCatchEvent }}
    if (isEnabled{{.FunctionName}} && isActive{{.FunctionName}}) {
        emit next("", "", "{{.FunctionName}}");
    }
    {{- else}}
      if (isActive{{.FunctionName}}) {
        emit next("", "", "{{.FunctionName}}");
        {{- range .Enable}}
          isEnabled{{.}} = true;
          {{.}}();
        {{- end }}
      }
    {{- end }}
    {{- if .Next.Exist }}
      {{- range .Next.Name}}
          isActive{{.}} = true;
      {{- end }}
    {{- end }}
  }
{{ end }}
{{ end}}
}